*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(200, 231, 222);
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    overflow: hidden;
}

header{
    background: #fff;
}

header nav{
    width: 100%;
}

header nav ul{
    width: 100%;
    overflow: hidden;
    list-style: none;
}

header nav ul li{
    float: left;
}

header nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    color: black;
}

header nav ul li a:hover{
    background: #5bc8ba;
    color: #fff;
}

.main{
    width: 70%;
    background: #fff;
    float: left;
}

.main .imagen{
    width: 100%;
    height: 500px;
}

.main .imagen img{
    width: 100%;
    height: 500px;
    vertical-align: top;
}

.main .posts{
    padding: 40px;
}

.main .posts article h2{
    margin-bottom: 20px;
    color: #4d6b69;
}

.main .posts article p{
    margin-bottom: 15px;
    line-height: 27px;
}

aside {
    width: 30%;
    background: #63908a;
    padding: 20.5px;
    color: #fff;
    float: left;
}

aside .widget{
    margin-bottom: 20px;
}

aside .widget .titulo{
    color: #9be775;
    border-bottom: 1px solid #9be775;
    margin-bottom: 10px;
}

aside .widget ul{
    list-style: none;
}

aside .widget ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0;
}

aside .widget ul li a{
    color: #fff;
    text-decoration: none;
}

aside .widget ul li a:hover{
    color: #bdf5e2;
}

aside .widget p{
    line-height: 27px;
}

footer{
    width: 70%;
    overflow: hidden;
    background: #063b2f;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

@media screen and (maximum-width:800px) {
    .main{
        width: 100%;
    }

    aside{
        width: 100%;
    }

    footer{
        width: 100%;
    }
}